*DS_Store
assets/*

/Gemfile.lock
*.gem

Gemfile
config.ru
dashboards/layout.erb
dashboards/sample.erb
dashboards/sampletv.erb
history.yml
jobs/buzzwords.rb
jobs/convergence.rb
jobs/sample.rb
public/*
widgets/clock/*
widgets/comments/*
widgets/graph/*
widgets/iframe/*
widgets/image/*
widgets/list/*
widgets/meter/*
widgets/number/*
widgets/text/*
