<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Ntile Widget Example" data-text="Ntile can take any time stamped data and put it in context. Here are some examples." data-moreinfo="Note: The example sales performance by employee is relative to that employee's previous performance."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="signup" data-view="Ntile" data-title="Today's Sign Ups" data-moreinfo="" data-prefix="" style="background-color:#1E3587"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="events" data-view="Ntile" data-title="Today's Events" data-moreinfo="Sales, Sign Ups & Service" data-prefix="" style="background-color:#1E3587"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sales" data-view="Ntile" data-title="Today's Sales" data-moreinfo="" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="david" data-view="Ntile" data-title="Sales by David U." data-moreinfo="" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="daniel" data-view="Ntile" data-title="Sales by Daniel B." data-moreinfo="" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="serena" data-view="Ntile" data-title="Sales by Serena N." data-moreinfo="" data-prefix="$"></div>
    </li>
  </ul>
</div>