<% content_for :title do %>Ntile Twitter Dashboard<% end %>
<div class="gridster">
  <ul>
    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="owl" data-view="Ntile" data-title="Hourly #Owl Activity" data-moreinfo="" data-prefix="" style="background-color:#1E3587"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Ntile Widget Twitter Example" data-text="Ntile widgets using TWitter API data. Shows you current time period data in the context of previous time periods." data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unicorn" data-view="Ntile" data-title="Hourly #Unicorn Activity" data-moreinfo="" data-prefix="" style="background-color:#1E3587"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="shopify" data-view="Ntile" data-title="Daily 'Shopify' Tweets" data-moreinfo="" data-prefix="" style="background-color:#7BDB3B"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="askJPM" data-view="Ntile" data-title="Daily #AskJPM Activity" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="justin" data-view="Ntile" data-title="Daily Justin Bieber Marriage Proposals" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dhh" data-view="Ntile" data-title="Daily @dhh Mentions" data-moreinfo="" data-prefix=""></div>
    </li>
  </ul>
</div>